<form class="" action="/action_page.php" style="padding-left:25% ;">
    <label for="cars " style="font-size:12px ;">Select member</label>
    <select name="member" id="cars" style="font-size:12px ;">
        {{!-- {{#each members}} --}}
        <option value="volvo">Volvo</option>
        <option value="volvo">V</option>
        {{!-- {{/each}} --}}
    </select>
    <br><br>
    <input type="submit" class="ml-5" value="Submit" style="font-size:12px ;">
</form>


<table class="col-12" style="border-spacing:; border-collapse:separate ; font-size: 12px;">
    <div class="bg-light   pb-3 " style="border-radius:10px ;">


        <tr>
            <th style="float: left;">Date </th>
            <th style="float: right;" class="pr-3">Attendance </th>


        </tr>

        <div class="mb-3 ">
            <tr class="">
                <td style="float: left;">{{this.amount}}h
                    <hr style="margin: 0 0;">
                </td>
                <td class="text-success pr-5" style="float: right;"> dfg{{this.payment}}
                    <hr style="padding:0 0px ; margin: 0 0px;">
                </td>

            </tr>

            
        </div>










    </div>

</table>