<div style="">

    <a href="/history-by-date" style="font-size: 11px; " class="btn btn-success m-3 p-1">Att. History <br> by Date</a>
    <a href="/history-by-name" class="btn btn-primary m-2 p-1" style="font-size: 11px; " >Att. History <br> by Name</a>
</div>
