<section class="boxcontainer ">
  {{#if message}}
  <p class="text-primary"> {{message}}</p>
  {{/if}}
  <div class="boxdiv col-4 ">
    <a class=" boxes" href="/mark-attendance">
      <img src="/images/homepage-logo/attendance image.png" alt="">
      
    </a>
    <p>Mark <br> Attendance</p>
  </div>

  <div class="boxdiv col-4">
    <a class=" boxes">
      <img src="/images/homepage-logo/calendar-icon.png" alt="">

    </a>
    <p>calender</p>
  </div>

  <div class="boxdiv col-4">
    <a class=" boxes" href="/attendance-history" >
      <img src="/images/homepage-logo/attendance history.jpg" alt="">

    </a>
    <p>Attendance History</p>
  </div>
  
  <div class="boxdiv col-4 pt-4">
    <a class=" boxes">
      <img src="/images/homepage-logo/deposit logo.jpg" alt="">

    </a>
    <p>Deposits & fine</p>
  </div>

  <div class="boxdiv col-4 pt-4">
    <a class=" boxes">
      <img src="/images/homepage-logo/profit logo.png" alt="">

    </a>
    <p>Profit</p>
  </div>

  <div class="boxdiv col-4 pt-4">
    <a class=" boxes" href="/admin/admin-login">
      <img src="/images/homepage-logo/admin logo.jpg" alt="">

    </a>
    <p>Admin Login</p>
  </div>
</section>