<h5 class="" style="margin-left:25% ; ">Add Deposit</h5>
<form class="" action="/admin/add-deposit" method="post" style="padding-left:15% ;">
    <label for="cars " style="font-size:12px ;">Select member</label>
    <select name="member" id="cars" style="font-size:12px ;">
        {{!-- {{#each members}} --}}
        <option value="volvo">Volvo</option>
        <option value="v">V</option>
        {{!-- {{/each}} --}}
    </select>
    <br><br>
    <input type="submit" class="" value="Submit" style="font-size:12px ; margin-left: 20%; padding-top: 0%;">
</form>
{{!-- <form action="/admin/add-deposit" method="post">
    <button  class="btn btn-success  p-1 ml-2" style="font-size:10px;" onclick="showInput()">Add Deposit</button>
    <input class="ml-1" type="number" id="deposit-amount" style="visibility: hidden; max-width:40%; font-size: 11px;"
        placeholder="Enter Amount">
    <input type="submit" value="Submit" style="font-size: 11px;" id="deposit-amount" >

</form>

<table class="col-12" style="border-spacing:1%; border-collapse:separate ; font-size: 10px; padding: 1%;">
    <div class="bg-light   pb-3 " style="border-radius:10px ; ">
        <tr>
            <th style="float: left;padding-left: 0%;" class="">Name </th>
            <th style="float: left; padding-left: 20%;">Deposits <br> Pending </th>
            <th style="float: left; padding-left: 8%;">Pending <br> Fine </th>
            <th style="float: right;" class="pr-1">Total </th>

        </tr>

        <div class="mb-3 ">
            <tr class="">
                <td style="float: left;padding-left: 0%;" class="">pachi{{this.amount}}
                    <hr style="margin: 0 0;">
                </td>
                <td style="float: left;  padding-left: 25%;">as{{this.amount}}h
                    <hr style="margin: 0 0;">
                </td>
                <td style="float: left; padding-left: 16%;">as{{this.amount}}h
                    <hr style="margin: 0 0;">
                </td>
                <td class="text-success  pr-1" style="float: right;"> dfg{{this.payment}}
                    <hr style="padding:0 0px ; margin: 0 0px;">
                </td>
            </tr>
        </div>

    </div>
</table>

<script>
    function showInput() {
        document.getElementById('deposit-amount').style.visibility = "visible"
    }
</script> --}}