<div style="">

    <a href="/admin/add-new-member" style="font-size: 10px; " class="btn btn-success m-3 p-1">Add member</a>
    <a href="/admin/remove-member" class="btn btn-danger m-2 p-1" style="font-size: 10px; " >Remove member</a>
</div>
