<form action="/admin/do-deposit" method="post">
    {{!-- {{#if member}} --}}
    <input class="ml-1" type="number" id="deposit-amount" name="amount" style=" max-width:40%; font-size: 11px;"
        placeholder="Enter Amount" required>
    <input type="number" value="{{member}}" name="member-mobile" hidden>
    <input type="submit" value="Add amount" style="font-size: 11px;" id="deposit-amount"  class="btn-success">

</form>
<div style="overflow-x:auto;">
  
  <table>
    <h6 class="pt-3">Name :{{member}}</h6>
    <tr>
      
      <th>Date</th>
      <th>Att.Staus</th>
      <th>Fine</th>
      <th>Installment</th>
      <th>Total Amount</th>
      <th>Overall <br> Deposited Amount</th>
      <th>Pending</th>
      
    </tr>
    <tr>
      
      <td>Smith</td>
      <td>0</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    
      

      
    </tr>
    
  </table>
</div>

<script>
    function showInput() {
        document.getElementById('deposit-amount').style.visibility = "visible"
    }
</script>

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 5%;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size: 12px ;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>