{{#if message}}
<p class="text-primary" id="">{{message}}</p>
{{/if}}
<p class="text-danger m-2" id="text-message" style="font-size:11px ;">{{message}}</p>

<h4 class="m-2" style="">Mark attendance</h4>


<form action="/mark-attendance" method="post" class="m-2 ">

<input type="number" class="m-1" step="any" id="latitude" name="latitude" value=""  required>
<input type="number" class="m-1" id="longitude" step="any" name="longitude" value=""  required>
<button style="font-size: 11px;" type="button" class="m-1" onclick="getLocation() ; checkDate ()";  >Get location</button>
<input style="font-size: 11px; " type="submit" value="submit" id="submitButton" hidden>

<p id="demo" style="font-size: 13px;"></p>


</form>


<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
  document.getElementById('latitude').value = position.coords.latitude;
  document.getElementById('longitude').value = position.coords.longitude;
}

function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}


</script>
<script>
  function checkDate(){
  var date = new Date();
  let day = date.getDay()
  let hours = date.getHours()
  console.log(hours)
  var a =  document.getElementById("submitButton") ;

  if (day === 1 && hours >= 20 && hours <= 21){
  
  a.removeAttribute('hidden');

  }
  else{
    document.getElementById('text-message').innerHTML = "You can mark attendence only in every Tuesdays between 8PM-9PM "
  }
  }
</script>