<div class="header bg-light">
  <div class="section">
    <img src="/images/homepage-logo/KSS-logo.png" alt="" class="header-image">

    <p class="col"> Karappa Swayam Sahaya Sangam</p>
  </div>
  
  <div class="action ">
    <div class="profile" onclick="menuToggle();">
      <img src="" />
    </div>
    <div class="menu ">
      <h3>Someone </h3>
      <ul>
        <li>
          <a href="#">My profile</a>
        </li>
        <li>
          <a href="#">Edit profile</a>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>


  <script>
    function menuToggle() {
      const toggleMenu = document.querySelector(".menu");
      toggleMenu.classList.toggle("active");
    }
  </script>
</div>