


/*home  page header */

.header{
width: 100%;
height: 80px;
margin-top: 0%;
margin: 0px 1px;
padding-top: 3px;
padding: 2px 2px;
border-radius: 5px;
padding-bottom: 5px;

}
.header .login-btn:hover{
background-color: rgb(220, 231, 241);
}



.header .section{
  text-align: left;
}
.header p{
  font-size: 11px;
  float: left;
  padding-top: auto;
  
  
}

.header .header-image{
  width: 40%;
  max-width: 200px;
  height: 60px;
 padding: 3px 3px;
  float: left;
  
}



.action {
  float: right;
  top: 20px;
  right: 30px;
  padding: 1% 4%;
  margin-top: 4px;
  position: absolute;
  

}

.action .profile {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 100px;
  right: -5px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  
  
}

.action .menu.active {
  top: 60px;
  visibility: visible;
  opacity: 1;
  
  
 
  
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}



.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  
}

.action .menu ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
  font-size: 14px;
}

.action .menu ul li:hover a {
  color: #ec3a75;
}


/** home page boxes*/


.boxcontainer{
 
  width: 100%;
  height: 300px;
  border-radius: 15px;
  font-size: 12px;
}

.boxcontainer .boxdiv{
  float: left;
  width: 25%;
  height: 25%;
  padding: 2% 2%;
  margin: 4% 4%;
  margin-top: 2%;
  
}
.boxcontainer .boxdiv p{
  font-size: 12px;
}

.boxcontainer .boxdiv .boxes img{
width: 100%;
height: 100%;
padding: 0px;
border-radius: 15px;

}
.boxcontainer .boxdiv .boxes{
  width: 100%;
  height: 100%;
}

.boxcontainer .boxdiv a{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  

}
.boxcontainer .boxdiv a :hover{
  box-shadow: 5px 5px 20px 5px rgba(139, 170, 238, 0.829)
}
